#upper, #lower, .left, .right{
    display: flex;
    justify-content:space-around;
}

h1,h2{
    text-align: center;
}

img{
    display: inline; 
}

.temperature{
    margin: auto;
    margin-right: 3em;
}