#upper, #lower{
    display: flex;
    justify-content:space-around;
}

.dasbhoard_indicator{
    display: flex;
    justify-content:space-around;
}

h1,h2{
    text-align: center;
}

.temperature{
    margin: auto;    
}

/* put the logo and temperature value in the middle of their container */
.logo, .temperature{
    flex:1;
}

.left{
    text-align: right;
}

.right{
    text-align: left;
}