body{
    margin-left:10%;
    margin-right:10%;
}

h1{
    font-size: 7em;
}

h2{
    font-size: 4em;
}

.dasbhoard_indicator{
    flex:1;
}

.temperature{
    /* margin: 2em; */
    font-size: 4em;
}

.dasbhoard_indicator{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 4em;
    padding-right: 4em;
    border: solid black 0.1em;
    border-radius: 1em;
    width:20em;
}

.logo{
    width: 5em;
}